<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Comment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>YouTube Comment Analysis</h1>
    </header>
    <main>
        <section class="form-section">
            <form method="POST">
                <label for="video_url">Enter YouTube Video URL:</label>
                <input type="text" id="video_url" name="video_url" placeholder="Enter YouTube Link...">
                <button type="submit">Analyze Comments</button>
            </form>
        </section>

<section class="analysis-section">
    <h2>Comments and Sentiment Analysis:</h2>
    <div class="comments">
        <table>
            <thead>
                <tr>
                    <th>Author</th>
                    <th>Comment</th>
                    <th>Sentiment</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                <tr>
                    <td>{{ comment['author'] }}</td>
                    <td>{{ comment['text'] }}</td>
                    <td>{{ comment['sentiment'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="chart-container">
        {% if chart_data %}
        {{ chart_data | safe }}
        {% endif %}
    </div>
</section>

    </main>
</body>
</html>
